{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="login-container">
    <div class="form-card">
        <h1 class="h3 mb-4 text-center">🔐 Connexion</h1>

       
        {% if error %}
            <div class="alert alert-danger text-center">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

       
        {% if app.user %}
            <div class="alert alert-info text-center mb-3">
                Connecté en tant que {{ app.user.userIdentifier }} — 
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <form method="post" class="form">
            <div class="flex-column">
                <label for="inputEmail">Email</label>
            </div>
            <div class="inputForm">
              
                <input type="email" name="email" id="inputEmail" 
                       value="{{ last_username }}" 
                       class="input" 
                       placeholder="Enter your Email" 
                       autocomplete="email" required autofocus>
            </div>

            <div class="flex-column">
                <label for="inputPassword">Password</label>
            </div>
            <div class="inputForm">
                
                <input type="password" name="password" id="inputPassword" 
                       class="input" 
                       placeholder="Enter your Password" 
                       autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="flex-row">
                <div>
                    <input type="checkbox" name="_remember_me" id="rememberMe">
                    <label for="rememberMe">Remember me</label>
                </div>
                <span class="span">Forgot password?</span>
            </div>

            <button class="button-submit w-100" type="submit">Sign In</button>

            <p class="p">Don't have an account? 
                <a href="{{ path('app_register') }}" class="span">Sign Up</a>
            </p>

            <p class="p line">Or With</p>

            <div class="flex-row">
                <button type="button" class="btn google">Google</button>
                <button type="button" class="btn apple">Apple</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
