{% extends 'baseAdmin.html.twig' %}

{% block title %}Modifier une affectation{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>🛠️ Affecter un matériel à un employé</h2>
    {{ form_start(form) }}
        {{ form_row(form.User) }}
        {{ form_row(form.Materiel) }}
        {{ form_row(form.date_affectation) }}
        {{ form_row(form.date_retour) }}
        <button class="btn btn-success mt-3">Modifier</button>
    {{ form_end(form) }}
</div>
{% endblock %}
