{% extends 'baseAdmin.html.twig' %}

{% block title %}Les affectations{% endblock %}

{% block body %}
<div class="main">
    <h2 class="mb-4">📦 Les affectations de matériel</h2>

    {% if affectations is empty %}
        <div class="alert alert-warning">Aucune affectation trouvée.</div>
    {% else %}
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Employé</th>
                    <th>Matériel affecté</th>
                    <th>Date d'affectation</th>
                    <th>Date de retour</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                {% for affectation in affectations %}
                    <tr>
                        <td>
                            {{ affectation.User.nom }} 
                        </td>
                        <td>
                            {{ affectation.Materiel.type }} 
                        </td>
                        <td>
                            {{ affectation.dateAffectation ? affectation.dateAffectation|date('d/m/Y') : '—' }}
                        </td>
                        <td>
                            {{ affectation.dateRetour ? affectation.dateRetour|date('d/m/Y') : '—' }}
                        </td>

                         <td>
                         <a href="{{ path('app_modifier_affectation', {'id': affectation.id}) }}" class="btn btn-warning btn-sm"> Modifier</a>
                            <form method="post" action="{{ path('app_supprimer_affectation', {'id': affectation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet affectation ?');">
                          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affectation.id) }}">
                            <button class="btn btn-danger btn-sm"> Supprimer</button>
                        </form>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
     <a href="{{ path('app_new_affectation') }}" class="btn btn-primary">
    Ajouter une affectation
</a>
</div>
{% endblock %}
