{% extends 'baseAdmin.html.twig' %}

{% block title %}Tableau de Bord Utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Inclut baseAdmin.css et Font Awesome #}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block body %}

    <h1>📊 Tableau de bord</h1>
    <div class="cards">
        <div class="card"><h3>En Stock</h3><p>{{ totalMateriels }}</p></div>
        <div class="card"><h3>Matériel Affectés</h3><p>{{ totalAffectations }}</p></div>
        <div class="card"><h3>Employées</h3><p>{{ totalUsers }}</p></div>
        <div class="card"><h3>Interventions effectuées</h3><p>{{ totalInterventions }}</p></div>
        <div class="card"><h3>Alertes</h3><p>{{ totalAlertes }}</p></div>
        <div class="card"><h3>Réclamations</h3><p>{{ totalReclamations }}</p></div>
        
    </div>

    <canvas id="materielChart" style="margin-top: 30px; background:white; border-radius:10px; padding:15px;"></canvas>

    

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/dashboard.js') }}"></script>
{% endblock %}
