{%extends 'baseAdmin.html.twig'%}
{% block title %} les alertes{% endblock %}

{% block body %}
{% if alertes is empty %}
        <div class="alert alert-warning">Aucune affectation trouvée.</div>
    {% else %}
<div class="container mt-5">
    <h2 class="mb-4">📢 Liste des alertes</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Type</th>
                <th>Message</th>
                <th>Date</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for alerte in alertes %}
                    <tr>
                        <td>
                            {{ alerte.type }} 
                        </td>
                        <td>
                            {{ alerte.message }} 
                        </td>
                        <td>
                            {{ alerte.dateAlerte ? alerte.dateAlerte|date('d/m/Y') : '—' }}
                        </td>
                        <td>
                            {{ alerte.statut }}
                        </td>

                         <td>
                         <a href="{{ path('app_modifier_alerte', {'id': alerte.id}) }}" class="btn btn-warning btn-sm"> Modifier</a>
                            <form method="post" action="{{ path('app_supprimer_alerte', {'id': alerte.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet alerte ?');">
                          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alerte.id) }}">
                            <button class="btn btn-danger btn-sm"> Supprimer</button>
                        </form>
                        </td>

                    </tr>
                {% endfor %}
                 </tbody>
    </table>
<a href="{{ path('app_ajouter_alerte') }}" class="btn btn-primary">
    Ajouter une alerte
</a>

    {% endif %}
</div>

{% endblock %}




